body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    font-family: Arial;
}

.login-box {
    width: 320px;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 15px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background: #1f2d3d;
}

.error {
    color: red;
    font-size: 13px;
}





/* dropdown wrapper */
.dropdown-wrapper {
    position: relative;
}

/* dropdown box */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    max-height: 180px;
    overflow-y: auto;

    display: none;
    z-index: 10;
}

/* dropdown items */
.dropdown-list div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-list div:hover {
    background: #2c3e50;
    color: #fff;
}


.success {
    background: #eafaf1;
    color: #27ae60;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.switch-form {
    margin-top: 20px;
    text-align: center;
}

.switch-form span {
    font-size: 13px;
    color: #666;
}

.switch-form button {
    background: none;
    border: none;
    color: #2c3e50;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}