body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    font-family: Arial;
}

.login-box {
    width: 320px;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 15px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background: #1f2d3d;
}

.error {
    color: red;
    font-size: 13px;
}




.login-box select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    background: white;
    outline: none;
}

.login-box select:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(44,62,80,0.2);
}